ui/GUI/mod_rag_agent_ollama.json
{
  "name": "mod_rag_agent_ollama",
  "nodes": [
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions.",
        "topK": 10
      },
      "id": "fc249a0a-5a8d-44c3-9eb3-0ed93a5622dc",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        340,
        -40
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "3b1dc640-4072-44df-bbce-fd49601404ef",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -160
      ]
    },
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 671.8877842322804,
        "width": 2070.8894079025763,
        "color": 5
      },
      "id": "becf6b32-d156-4217-b037-8278ae8828cd",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1060,
        380
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 465,
        "width": 873
      },
      "id": "eda3c557-45a1-466c-abe0-c186f6688338",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        -100
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "c6978311-0494-4742-b29e-d65d4ad2b674",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -700,
        -20
      ],
      "webhookId": "e985d15f-b2f6-456d-be15-97e0b1544a40"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."
        }
      },
      "id": "592f8dcc-2eb6-4cd7-a792-fb86fd143180",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -180,
        -60
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "dev_docs_site_pages",
          "mode": "list",
          "cachedResultName": "dev_docs_site_pages"
        },
        "options": {
          "queryName": "match_dev_docs_site_pages"
        }
      },
      "id": "8cc63332-472a-4db3-93d3-29f32c390209",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        220,
        120
      ],
      "credentials": {
        "supabaseApi": {
          "id": "8fAmOatY3170uoZT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        620,
        200
      ],
      "id": "2ba79044-178f-40a0-acb0-7e4d0fc0c256",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "at5NIXTVYDUKF3Nf",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        260,
        280
      ],
      "id": "c7cfb9db-0a82-4933-99c2-a0047bd7c464",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "at5NIXTVYDUKF3Nf",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || $execution.id }}",
        "tableName": "n8n_messsages"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -80,
        220
      ],
      "id": "b22472e7-a19e-44ea-85bf-b0c2e54e45de",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "NGwaXEirqNTgG72z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -240,
        220
      ],
      "id": "2eb539fd-f960-4b56-9d7d-dc2dfcc2b233",
      "name": "Ollama Chat Model RAG AI Agent",
      "credentials": {
        "ollamaApi": {
          "id": "at5NIXTVYDUKF3Nf",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoke_n8n_agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        180
      ],
      "id": "14bda82e-e58f-4c02-a20e-188889cd0298",
      "name": "Webhook",
      "webhookId": "4883806b-db92-4a2e-9276-ad7f12dc09d3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "96f5d68b-ed7d-47fa-b4df-3319e8be9d59",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -540,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model RAG AI Agent": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "09a29223-dc4f-4a5a-9243-03bfb5507162",
  "meta": {
    "instanceId": "6a87ff7a83e2426b90b47d9c5cb9d69d0ac209217f75abb2d39afaea61add3c6"
  },
  "id": "KPeeRRUxXcdTNeRi",
  "tags": []
}